.container {
  padding-top: 120px;
  padding-bottom: 700px;
}

.select-container {
  margin-bottom: 10px;
}

.select-container label {
  font-weight: bold;
  margin-right: 10px;
}

.select-container select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: purple; 
  color: white; 
  transition: border-color 0.3s ease;
}

.select-container select:hover {
  border-color: #666;
}

.select-container select:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select-wrapper {
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
}

.select-wrapper label {
  font-weight: bold;
  color: white;
}

.year-box,
.type-box,
.country-box,
.language-box,
.rating-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.year-box select,
.type-box select,
.country-box select,
.language-box select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: purple;
  color: white;
  transition: border-color 0.3s ease;
  display: inline-flex;
}

.type-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; 
}

.genre-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #743c12;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px; 
}

.chart-container {
  width: 100%;
  height: 400px; 
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.genre-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #743c12;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -60px;
}

.chart-container {
  position: relative;
}

.genre-info {
  position: absolute;
  top: 410px; 
  left: calc(50% - 150px); 
  width: 300px; 
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #86771e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-family: Arial, sans-serif;
  transition: top 0.3s ease-in-out; 
  font-size: 20;
}

.genre-info.adjust-down {
  top: 50px; 
}

.genre-info-title {
  margin-bottom: 30px;
  text-align: center;
}

.genre-info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.genre-info-list li {
  margin-bottom: 5px;
}

.attribution-boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #293619;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
 
}

.attribution-boxs p {
  margin-right: 8px;
  font-size: 15px;
  color: #ffffff;
}

.attribution-boxs img {
  width: 60px;
  height: 40px;
}