.trending-container {
    padding-top:90px; /* Adjust the padding-top value to accommodate the fixed header */
  }

.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px; /* Adjust the margin-top value to move the box down */
    text-align: center;
    font-family: 'Your Custom Font', sans-serif; /* Replace 'Your Custom Font' with the name of your custom font */
    /* Additional styling properties */
    color: #ffffff; /* Font color */
}
  
 

  .trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  .trending-heading {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #743c12;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: -60px;
  }
  
  
 
  

  
  
  
  