.header {
  width: 100%; 
  position: fixed; 
  display: flex; 
  justify-content: center;
  text-transform: uppercase;
  background-color: #39445a;
  font-family: "Montserrat", sans-serif; 
  font-size: 4.5vw;
  padding-bottom: 15px;
  padding-top: 12px;
  box-shadow: 2px 3px 9px black;
  color: white; 
  z-index: 100; 
}

@media (max-width:900px) {
  .header {
      padding-top: 20px;
      font-size: 25px;
  }
}

