.header {
  width: 100%;
  position: fixed;
  top: 0; /* Ensure the header stays at the top */
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #462047;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding-bottom: 10px;
  box-shadow: 5px 10px 10px rgb(1, 20, 23);
  color: white;
  z-index: 100;
}

.rainbow-animation {
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14.28% {
    color: orange;
  }
  28.57% {
    color: yellow;
  }
  42.85% {
    color: green;
  }
  57.14% {
    color: blue;
  }
  71.42% {
    color: indigo;
  }
  85.71% {
    color: violet;
  }
  100% {
    color: red;
  }
}

@media (min-width: 163px) and (max-width: 3000px) {
  .header {
    padding-top: 20px;
    font-size: 65px;
    animation: none; /* Disable the rainbow animation for smaller screens */
    color: white; /* Set the color to white */
  }
}
