.header {
  width: 100%; 
  position: fixed; 
  display: flex; 
  justify-content: center;
  text-transform: uppercase;
  background-color: #39445a;
  font-family: "Montserrat", sans-serif; 
  font-size: 4.5vw;
  padding-bottom: 15px;
  padding-top: 12px;
  box-shadow: 2px 3px 9px black;
  color: white; 
  z-index: 100; 
}

@media (min-width: 163px) and (max-width: 299px) {
  .header {
    padding-top: 20px;
      font-size: 56px;
  }
}
 
@media (min-width: 300px) and (max-width: 889px) {
  .header {
    padding-top: 20px;
      font-size: 60px;
  }
}

@media (min-width: 300px) and (max-width: 889px) {
  .header {
    padding-top: 20px;
      font-size: 60px;
  }
}

@media (min-width: 900px) and (max-width: 1700px) {
  .header {
    padding-top: 20px;
      font-size: 60px;
  }
}

@media (min-width: 1800px) and (max-width: 3000px) {
  .header {
    padding-top: 20px;
      font-size: 60px;
  }
}

@media (min-width: 1900px) and (max-width: 3000px) {
  .header {
    padding-top: 20px;
      font-size: 60px;
  }
}