.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
 
  text-align: center;
  font-family: 'Your Custom Font', sans-serif;
  color: #ffffff;
}

.trending > * {
  margin: 10px; /* Add margin to space the movies */
}

@media (max-width: 550px) {
  .trending {
    
    justify-content: center;
  }
  .trending > * {
    width: 45%; /* Adjust the width to allocate space for two movies per row */
  }
}

@media (max-width: 448px) {
  .trending {
    justify-content: center;
  }
  .trending > * {
    width: 80%; /* Adjust the width to allocate space for two movies per row */  
  }
}

@media (max-width: 1200px) {
  .trending {
    justify-content: center;
  }
  .trending > * {
    width: 40%; /* Adjust the width to allocate space for two movies per row */  
  }
}

.trending-container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trending-heading {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #743c12;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -9px;
  margin-top: 30px;
}

@media (max-width: 380px) {
  .trending-heading {
    font-size: 30px !important;
  }
}

.attribution-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  background-color: #293619;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.attribution-box p {
  margin-right: 8px;
  font-size: 15px;
  color: #ffffff;
}

.attribution-box img {
  width: 60px;
  height: 40px;
}